# Bỏ qua các file nhật ký (log files)
*.log

# Bỏ qua thư mục node_modules/
node_modules/
vendor
# Bỏ qua các file môi trường
.env

# Bỏ qua các file hệ thống macOS
.DS_Store

# Bỏ qua thư mục build hoặc dist
build/
dist/
